@media screen and (min-width: 800px) {
    .body {
        margin: 0 auto;
        max-width: 620px;
        display: none;
    }
}


@media (min-width: 800px) {
    .base {
        width: 100vw;
        height: 100vh;
        max-width: 620px;
        max-height: 400px;
        display: none;
    }

}
    .insta_image {
        width: 8%;
        /* height: 50%; */
    }

    .insta_font_image {
        width: 30%;
        height: 80%;
        margin-left: 13%;
        margin-right: 13%;
    }

    .post {
        width: 100%;
        max-width: 720px;
        border-bottom : solid 1px rgb(187, 187, 187);
    }

    .post_top {
        display: flex;
        justify-content:start;
        align-items: center;
        padding-left: 2%;
    }
    .post_image {
        width: 8%;
        border-radius: 80%;
    }
    .post_more_image {
        width: 5%;
        margin-left: 75%;

    }
    .post_text {
        margin-left: 3%;
        font-size: 10x;
    }

    .post_main_image {
        width: 100%;
        align-items: center;
    }

    .post_bottom {
        height: 1vh;
        padding-top: 10%;
        padding-bottom: 5%;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 2%;
    }
    .post_bottom_image {
        width: 7%;
        margin-bottom: 37px;
        margin-left: 4%;
    }
    .post_fav_image {
        width: 5%;
        margin-bottom: 37px;
        margin-left: 55%;

    }

    .header{
        font-weight: bold;
        position: fixed;
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: white;
        z-index: 999;
        top: 0;
        align-items: center;
        border-bottom: solid 1px rgb(187, 187, 187);
        max-width: 620px;
        /* 생략 */
    }
    .story_container{
        width: 100%;
        background: rgb(218, 217, 217);
        padding-top: 15%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px rgb(187, 187, 187);
        /* margin-bottom: 1%; */
        max-width: 620px;
        
    }

    .story_box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 3%;
        max-width: 80px;
        max-height: 80px;

    }

    .story_img {
        width: 70%;
        margin-bottom: 10%;
        border-radius: 80%;
        max-width: 80px;
        max-height: 80px;
        border: solid red 1px;
    }
    .story_txt {
        margin-top: 0%;
        font-size: 12px;
    }

    .footer{
        width: 100vw;
        /* height: 7vh; */
        font-size: 100%;
        position: fixed;  
        bottom: 0%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        max-width: 620px;
        padding-top: 2%;
        padding-bottom: 2%;
    }